body{
    background-image: url(../img/background-top.jpg);
    background-size: cover;
    height: 100%;
    font-family: 'Roboto Flex', sans-serif;
}
.bgdiv{
    background-image: url(../img/bgimg.png);
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.navbg{
    background-color: #ff77f7;
}

a{
    padding: 5px;
    margin: 5px;
    vertical-align: baseline;
    text-align: center;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}

a:hover{
    font-size: 16px;
    transform: font-size;
    color: rgb(230, 236, 222);
}

.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twitter-icon{
    color: #1DA1F2;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.twitter-icon:hover{
    color: #0f78b9;
    transform: scale(1.1);
}

.discord-icon{
    color: #1DA1F2;
    padding: 5px;
    transition: all .2s ease-in-out;
}

.discord-icon:hover{
    color: #0f78b9;
    transform: scale(1.1);
}


.h-text{
    display: flex;
    padding: 5px;
    margin: 2px;
    width:max-content;
    background-color: rgba(30,30,30,0.3);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.2);
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}
.div-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3,h4, h5, h6{
    font-family: "Quicksand", sans-serif;
}